body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    background-color: #a36f53;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 60px;
    width: 40px;
}

.navbar .user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .user-info span {
    margin-left: 40px;
    margin-right: 20px;
}

.dropdown i {
    margin-right: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    height: 75%;
}

.option {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: none;
    border-radius: 10px;
    border: 1px solid #d4a373;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.option h2 {
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.option .select-button {
    padding: 10px 20px;
    border: none;
    background-color: #d4a373;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.option .select-button:hover {
    background-color: #b97f52;
}

.option.terraza1 {
    background-image: url('../img/salas/terraza1.jpeg');
}

.option.terraza2 {
    background-image: url('../img/salas/terraza2.jpeg');
}

.option.terraza3 {
    background-image: url('../img/salas/terraza3.jpeg');
}

.extra-buttons {
    display: none;
    justify-content: space-between;
    margin-top: 10px;
}

.extra-buttons button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #d4a373;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.extra-buttons button:hover {
    background-color: #b97f52;
}

@media (max-width: 768px) {
    .options {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .option {
        width: 100%;
        margin: 10px 0;
    }

    .option h2 {
        font-size: 1.5em;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .user-info {
        margin-top: 10px;
    }
}
