/* Estilo para las tarjetas de las salas */
.tarjeta-sala {
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.tarjeta-sala:hover {
    transform: scale(1.05);
}

.tarjeta {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.mesas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.mesa-card {
    width: 30%;
    margin: 10px 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mesa-card.libre {
    background-color: #d4edda;
}

.mesa-card.ocupada {
    background-color: #f8d7da;
}

.mesa-info {
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para los botones de acción */
.action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

.action-button.delete {
    background-color: #dc3545;
}

.action-button.delete:hover {
    background-color: #c82333;
}

.action-button.modify {
    background-color: #ffc107;
}

.action-button.modify:hover {
    background-color: #e0a800;
}

.action-button.back {
    background-color: #28a745;
}

.action-button.back:hover {
    background-color: #218838;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    /* Ajustes para las mesas */
    .mesa-card {
        width: 45%;  /* Dos tarjetas por fila */
    }

    /* Ajustar botones de acción */
    .action-buttons {
        flex-direction: column; /* Los botones en columna */
        align-items: flex-start; /* Alinear los botones a la izquierda */
    }

    .action-button {
        width: 100%; /* Los botones ocupan todo el ancho */
        margin-bottom: 10px; /* Espacio entre botones */
    }

    /* Ajustes de la cabecera */
    h1 {
        font-size: 24px; /* Reducir tamaño del texto en móviles */
    }
}

@media screen and (max-width: 480px) {
    /* Ajustes aún más para pantallas muy pequeñas */
    .mesa-card {
        width: 100%;  /* Solo una tarjeta por fila */
        margin: 10px 0;  /* Márgenes más pequeños */
    }

    .action-button {
        font-size: 14px; /* Reducir el tamaño de los botones */
        padding: 8px 16px; /* Menos relleno */
    }
}
