* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/background_login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    height: 70vh;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #d4a373;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurant-name {
    font-size: 2.5rem;
    color: #d4a373;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-title {
    font-size: 1.5rem;
    color: #4a403a;
    margin-bottom: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.login-form label {
    font-weight: bold;
    color: #4a403a;
    text-align: left;
}

.login-form input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #d4a373;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-form input:focus {
    outline: none;
    border-color: #4a403a;
    box-shadow: 0 0 10px rgba(212, 163, 115, 0.7);
}

.login-button {
    background-color: #d4a373;
    color: #fff;
    padding: 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 0;
}

.login-button:hover {
    background-color: #a36f53;
    transform: translateY(-2px);
}

.login-button:active {
    transform: translateY(0);
}

.login-form input::placeholder {
    color: #aaa;
    font-style: italic;
}
.error-message{
    color: red;
}
.error-border{
    border: 2px solid red !important;
}

.icon {
    height: 40%;
    width: 20%;
}

.error-message{
    color: red;
}
.error-border{
    border: 2px solid red !important;
}

@media (max-width: 600px) {
    .restaurant-name {
        font-size: 2rem;
    }

    .login-button {
        font-size: 1rem;
    }

    .icon {
        height: 30%;
        width: 50%; 
    }
}
